<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Update person</title>
    </head>
    <body>
        <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
            <label for="title">Введите название книги: </label>
            <input type="text" th:field="*{title}" id="title"/>
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</div>
            <br/>
            <label for="author">Введите автора: </label>
            <input type="text" th:field="*{author}" id="author"/>
            <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author Error</div>
            <br/>
            <label for="yearPublication">Введите год издания книги: </label>
            <input type="text" th:field="*{yearPublication}" id="yearPublication"/>
            <div style="color:red" th:if="${#fields.hasErrors('yearPublication')}" th:errors="*{yearPublication}">year Error</div>
            <br/>
            <input type="submit" value="Обновить!"/>
        </form>
    </body>
</html>